mundo-seo/herramientas/wf-seo-import.json
{
  "name": "SEO - Generador Articulos Semanal",
  "nodes": [
    {
      "id": "n1",
      "name": "Cada lunes 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "n2",
      "name": "Seleccionar keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const kws=[{keyword:'chatbot restaurantes',nicho:'hosteleria'},{keyword:'ia para clinicas',nicho:'salud'},{keyword:'automatizacion abogados',nicho:'legal'},{keyword:'chatbot tienda online',nicho:'ecommerce'},{keyword:'ia para pymes espana',nicho:'general'}];const i=Math.floor(Date.now()/(7*24*60*60*1000))%kws.length;return [{json:kws[i]}];"
      }
    },
    {
      "id": "n3",
      "name": "Generar articulo con Ollama GRATIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"model\":\"qwen2.5-coder:7b\",\"prompt\":\"Escribe un articulo SEO de 1200 palabras sobre: \"+$json.keyword+\". Incluye H2s, casos reales y CTA para consulta gratuita. Espanol profesional.\",\"stream\":false}"
      }
    },
    {
      "id": "n4",
      "name": "Preparar y guardar articulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const resp=JSON.parse($input.item.json.data||'{}');const kw=$('Seleccionar keyword').item.json.keyword;const fecha=new Date().toISOString().split('T')[0];const slug=kw.toLowerCase().replace(/[^a-z0-9]+/g,'-');return [{json:{titulo:'Guia: '+kw+' en 2026',contenido:resp.response||'error',slug:slug,fecha:fecha,keyword:kw,meta:('Todo sobre '+kw+'. Guia practica para empresas. Consulta gratuita.').slice(0,160)}}];"
      }
    }
  ],
  "connections": {
    "Cada lunes 9am": {
      "main": [
        [
          {
            "node": "Seleccionar keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar keyword": {
      "main": [
        [
          {
            "node": "Generar articulo con Ollama GRATIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar articulo con Ollama GRATIS": {
      "main": [
        [
          {
            "node": "Preparar y guardar articulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "6da61741-c413-4f09-9a81-93ecef8cbd08"
}